ollama.brionize.nl {
	@api_no_key {
		path /api/*
		not {
			header X-API-Key __OLLAMA_API_KEY__
		}
	}
	respond @api_no_key "Ongeautoriseerd" 401

	handle /api/* {
		uri strip_prefix /api
		reverse_proxy localhost:11434 {
			flush_interval -1
		}
	}

	handle {
		root * /opt/ollama-pwa/public
		try_files {path} /index.html
		file_server
	}

	header {
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		Referrer-Policy no-referrer
		Permissions-Policy "camera=(), microphone=(), geolocation=()"
	}
}
